body{
  margin: 0px;
  background-color: transparent;
  font-family: "Open Sans";
}
.menu{
  text-decoration: none;
  margin: 50px;
  background-color: antiquewhite;
  display: block;
}
.project{
  width: 300px;
  margin: 15px;
  background-color: yellow;
  float: left;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
#project-wrapper{
  margin: 15px;
}
li {
  list-style-type: none;
  margin: 0% 5% 0% 5%;
  text-decoration: none;
  display: inline;
  padding: 0;
  float: left;
}
a{
  text-decoration: none;
}
img{
  width: 300px;
  height: 300px;
  float: left;
}